body {
    font-family: Arial, sans-serif;
    background-color: #4682B4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #6082B6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

select {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 14px;
    background-color: #0F52BA;
    color: white;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0F52BA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}

.button:hover {
    background-color: #041551;
}

.progress-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #004DB0;
    border-radius: 4px;
    transition: width 0.3s;
}

.progress-text {
    margin-left: 10px;
    font-weight: bold;
    color: #93AFFC;
}

.key-container {
    margin-top: 20px;
}

.key-container h2 {
    color: #93AFFC;
}

.keys-list {
    text-align: left;
}

.key-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #00266A;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 14px;
    word-wrap: break-word;
}

.key-item input {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.key-item button {
    margin-left: 10px;
    background-color: #0F52BA;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.key-item button:hover {
    background-color: #041551;
}

.hidden {
    display: none;
}

.copy-status {
    margin-top: 10px;
    color: #93AFFC;
    font-weight: bold;
}
